@import '../../index.css';

section{
    margin: 2vw
}

form label, input, textarea{
    display: block;
}

form input{
    border-radius: 7px;
    width: 15vw;
    height: 3vh;
    border: none;
}
form textarea, input{
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 1px #999;
    padding: 1vw;

}

label{
    margin: 1vw 0vw;
}